body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.header {
  text-align: center;
  font-size: 30px;
  color: violet;
}
.list-element a {
  color: aquamarine;
}
.list-element {
  color: aquamarine;
  font-size: 20px;
  padding: 5px;
}

.image {
  text-align: center;
}
